
<!doctype html>
<html>
<head>
<title>myEgg登录</title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Eminent Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- /font files -->
<!-- css files -->
<link href="/public/admin/css/login.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Internet elite</h1>
<div class="form-w3ls">
    <ul class="tab-group cl-effect-4">
    <li class="tab active"><a href="#signin-agile">Sign In</a></li>
		<li class="tab"><a href="#signup-agile">Join Us</a></li>        
    </ul>
    <div class="tab-content">
      <div id="signin-agile">   
        <form action="/admin/dologin?_csrf={{ ctx.csrf | safe }}" method="post">
          <p class="header">账户名</p>
          <input type="text" name="login_name" value="userName" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'userName';}">
          
          <p class="header">密码</p>
          <input type="password" name="login_pwd" value="passWord" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'passWord';}">
          
          <p class="header">验证码</p>
          <div style="display: flex;">
            <input type="text" name="code" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
            <img style="background-color: #ffb9ff8a;height: 45px;margin-top: 3%;margin-left: 2%;" src="/admin/verify" onclick="javascript:this.src='/admin/verify'"/>
          </div>

          <input type="checkbox" id="brand" value="">
          <label for="brand"><span></span> Remember me?</label>
          
          <input type="submit" class="sign-in" value="Sign In" method='post'>
          
          <ul class="links">
            <li class="pass-w3ls"><a href="#">Forgot Password</a></li>
          </ul>
        </form>
		  </div>
      <div id="signup-agile">   
        <form action="/admin/register?_csrf={{ ctx.csrf | safe }}" method="post">
          
          <p class="header">账户名</p>
          <input type="text" name="login_name" value="Your Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}">
          
          <p class="header">会员名</p>
          <input type="text" name="staff_name" value="Your Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}">
          
          <p class="header">密码</p>
          <input type="password" name="login_pwd" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
          
          <p class="header">手机号</p>
          <input type="tel" name="staff_phone" value="Your Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Phone Number';}">

          <!-- <p class="header">Confirm Password</p> -->
          <!-- <input type="password" name="password" value="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}"> -->
          
          <input type="submit" class="register" value="Register">
        </form>
      </div> 
    </div><!-- tab-content -->
</div> <!-- /form -->	  
<p class="copyright">© 2021 Internet elite. All Rights Reserved | Design by JinTian</p>
<!-- js files -->
<script src='/public/admin/js/index.js'></script>
<script src="/public/admin/js/jquery.min.js"></script>
<!-- /js files -->
</body>
</html>
