<!DOCTYPE html>
<html lang='zh-CN'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>yyblow</title>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href="/public/admin/css/offer.css" rel='stylesheet' type='text/css' media="all" />
  <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
    <div class="main">
      <div>
        <img src="../../public/admin/img/65bf289d736e1e62ef2fd5770642a0e5.png" /> 
      </div>
      <div class="container">
        <a data-animation="ripple" onclick="handleCopy('LJ1XF8')"><span style="font-weight: bold;color: black;">复制内推码</span></a>
      </div>
      <div class="container">
        <a data-animation="ripple" href="https://campushr.hikvision.com/home"><span style="font-weight: bold;color: black;">校招官网</span></a>
      </div>
    </div>
</body>
<script src='/public/admin/js/offer.js'></script>
</html>